@font-face {
    font-family: "font";
    src: url("comfortaa.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body{
    font-family: "font";
    padding: 40px 5px 5px 5px;
    background-color: #212121;
    color: aliceblue;
    box-sizing: border-box;
}
#head{
    background-color: #363636;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    font-weight: 600;
}
hr {
    background: #AEAEAE;
    border: 1px #AEAEAE solid;
    border-radius: 50px;
    width: 92%;
    margin-bottom: 20px;
    box-sizing: border-box;
    max-width: 550px;
}
#info{
    background: #7038f2;
    color:#fff;
    border-radius:10px;
    box-shadow: 0px 0px 10px 0px #8048f8b6;
    box-sizing: border-box;
    width: 95%;
    max-width: 550px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    padding: 1px;
    box-sizing: border-box;
}
#info_1{
    margin: 14px;
    box-sizing: border-box;
}
#info_2{
    margin: 14px;
    box-sizing: border-box;
}
#load{
    font-family: "font";
    background-color: #212121d8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    box-sizing: border-box;
}
#load_1{
    font-family: "font";
    background-color: #fff;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    box-sizing: border-box;
    color: #212121;
    padding: 4px;
    text-align: center;
    font-weight: 700;
    max-width: 200px;
    box-sizing: border-box;
}
#main{
    width: 100%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    box-sizing: border-box;
}
#post{
    margin-bottom: 10px;
    background-color: #494949;
    box-shadow: 0px 0px 20px 0px #4d4d4dbd;
    box-sizing: border-box;
    border-radius: 20px 20px 20px 0px;
    padding: 10px 20px 20px 20px ;
    box-sizing: border-box; 
    width: 100%;
}
#ava{
    width: 35px;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 0px #8048f8;    
    margin: 5px;
    background-color: aliceblue;
    padding: 2px;
}
#post_avtor{
    font-weight: 600;
    color: aliceblue;
    padding: 2px;
    border-radius: 5px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    overflow: auto;
    margin: auto;
    position: absolute;
    box-sizing: border-box;
}
#post_text{
    background-color: #8048f800;
    border-radius: 5px, 5px, 5px, 5px;
    padding: 5px;
    font-size: 14px;
}
#button {
    background: #8048f8;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color:#fff;
    font-size: 15pt;
    margin: 10px;
    width: fit-content;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  #submit {
    background: #8048f8;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color:#fff;
    font-size: 15pt;
    margin: 10px;
    width: fit-content;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  
  
  
  
  
  
  
  
  @font-face {
  font-family: "font";
  src: url("./comfortaa.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: "font";
  background: #212121;
  color:#fff;
  font-size: 15pt;
  margin-top: 60px;
  box-sizing: border-box;
  font-family: "font";
}
main{
 width: 95%;
 max-width: 400px;
 margin-right: auto;
 margin-left: auto;
 text-align: left;
 padding: 10px;
 box-sizing: border-box;
}
hr {
  background: #AEAEAE;
  border: 1px #AEAEAE solid;
  border-radius: 50px;
  width: 92%;
  margin-bottom: 20px;
  box-sizing: border-box;
}
nav{
  font-size:20pt;
  font-weight: 700;
  padding: 8px;
  text-align: left;
  box-sizing: border-box;
}
.form {
  width: 95%;
  margin-top: 10px;
  box-sizing: border-box;
}
.form-name{
  color:#AEAEAE;
  margin-bottom: 2px;
  box-sizing: border-box;
}
input{
  background: #363636;
  outline: none;
  border: 2px #AEAEAE solid;
  padding: 10px;
  border-radius: 10px;
  color:#fff;
  font-size: 15pt;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.checkbox {
  width: auto;
  box-sizing: border-box;
}
.radio {
  width: auto;
  box-sizing: border-box;
}
.info{
  background: #7038f2;
  color:#fff;
  padding: 8px;
  border-radius:10px;
  margin: 8px;
  box-sizing: border-box;
}
h3{
  margin: 2px;
  box-sizing: border-box;
}
p{
  font-size: 10pt;
  margin: 2px;
  box-sizing: border-box;
}
button {
  background: #8048f8;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color:#fff;
  font-size: 15pt;
  margin: 10px;
  width: 95%;
  box-sizing: border-box;
}
.save {
position: absolute;
margin: 0px;
left: 50%;
bottom: 0px;
transform: translate(-50%, -50%);
max-width: 450px;
box-sizing: border-box;
}
a{
  color: #8048f8;
  text-decoration: none;
  font-weight: 700;
  box-sizing: border-box;
}
select{
   background: #363636;
   outline: none;
   border: 2px #AEAEAE solid;
   padding: 10px;
   border-radius: 10px;
   color:#fff;
   font-size: 15pt;
   width: 100%;
   box-sizing: border-box;
 } 
textarea{
  background: #363636;
  outline: none;
  border: 2px #AEAEAE solid;
  padding: 10px;
  border-radius: 10px;
  color:#fff;
  font-size: 15pt;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.user-name{
  background: #363636;
  outline: none;
  border: 2px #AEAEAE solid;
  padding: 10px;
  border-radius: 10px;
  color:#fff;
  font-size: 15pt;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

  .main{
    padding: 0px 10px 10px 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    box-sizing: border-box;
  }
    .header {
     background: #363636;
     border-bottom-left-radius: 10px; 
     border-bottom-right-radius: 10px; 
     font-weight: 700;
     box-sizing: border-box; 
     position: fixed;
     top: 0px; 
     left: 0px;
     padding: 0px 10px 10px 10px;
     width: 100%;
     z-index: 9999;
     box-sizing: border-box;
    }
    .header-text {
    font-size: 15pt;
    margin-bottom: 5px;
    box-sizing: border-box;
    }
    .header-info{
     font-size: 10pt;
     background: #8048f8;
     padding: 5px; 
     border-radius: 5px; 
     color: #fff;
     box-sizing: border-box;
    }
    .post{
    padding: 20px; 
    background: #363636; 
    border-radius: 10px; 
    margin-bottom: 10px;
    box-sizing: border-box;
    }
    .post-avtor{
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 13pt;
    color:#8048f8;
    box-sizing: border-box;
    }
    .post-info{
     padding-bottom: 10px;
     font-size: 10pt;
     box-sizing: border-box;
    }
    .post-time{
      color: #AEAEAE; 
      font-size: 8pt; 
      width: 100%;
      text-align: right;
      padding-right: 10px;
      box-sizing: border-box;
    }
    .end{
      width: 100%;
      text-align: center;
      color: #AEAEAE;
      padding-top: 0px;
      font-size: 10pt;
      box-sizing: border-box;
    ;
}
.msg{
  background:#363636;
  padding: 10px;
  border-radius:10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
